body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(100, 200, 200, 1);
}

.logo-text {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.logo-text:hover {
    color: black;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: rgba(100, 200, 200, 1);
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
    position: relative;
    font-weight: bolder;
}

.navbar a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(100, 200, 200, 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.navbar a:first-child {
    margin-left: 0;
}

.fa-solid {
    color: rgba(100, 200, 200, 1);
}

.navbar .toggle_btn {
    color: rgba(100, 200, 200, 1);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.list-item {
    display: inline;
}

.mobile-nav {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    font-weight: bolder;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile-nav.open {
    height: 240px;
}

.mobile-nav a {
    color: rgba(100, 200, 200, 1);
    text-decoration: none;
    padding: 0.7rem;
    display: block;
    transition: color 0.3s;
    position: relative;
}

.mobile-nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(100, 200, 200, 1);
    transform-origin: left;
    transition: width 0.3s ease-in-out;
}

.mobile-nav a:hover::before {
    width: 50%;
}

.hero {
    text-align: center;
    padding: 40px;
    color: #151515;
    animation: slide 1s ease-in-out;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.hero-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.social-icon img:hover {
    transform: scale(1.25);
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    transition: background-color 0.3s;
    z-index: 9999;
}

#backToTopBtn:hover {
    background-color: rgba(100, 200, 200, 1);
    color: #151515;
    transform: translateY(-1px);
}

.highlight {
    color: rgba(100, 200, 200, 1);
    font-weight: bold;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.projects {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.section-title {
    font-size: 24px;
    color: rgba(100, 200, 200, 1);
    margin-bottom: 20px;
}

.project {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.project img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 20px;
    color: rgba(100, 200, 200, 1);
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(100, 200, 200, 1);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    color: #151515;
    background-color: #c6c6c6;
}

@media (max-width: 767px) {
    header {
        padding: 5px;
    }
    #logo-container {
        width: 40px;
        height: 40px;
    }
    .logo-text {
        font-size: 20px;
    }
    .mobile-nav {
        left: 6rem;
        width: unset;
    }
    .mobile-nav.open {
        height: auto;
    }
    .hero {
        padding: 20px;
        margin-bottom: 20px;
    }
    .hero-image {
        width: 150px;
        height: 150px;
    }
    .hero-description {
        font-size: 16px;
    }
    .hero-icons img {
        width: 30px;
        height: 30px;
    }
    .navbar .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(100, 200, 200, 1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        z-index: 1000;
    }
    .navbar-list.active {
        display: flex;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .navbar .list-item {
        display: none;
    }
    /* Contact section styling for mobile */
    .contact {
        padding: 20px 0;
    }
    .contact h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    /* Contact info styling for mobile */
    .content-container {
        padding: 20px 0;
    }
    .contact-info {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .contact-box {
        padding: 10px;
        font-size: 16px;
    }
    .contact h2 {
        font-size: 20px;
    }
    /* Social links styling for mobile */
    .social-icon {
        margin: 0 5px;
    }
    .social-icon a img {
        width: 25px;
        height: 25px;
    }
}


/* Contact section styling */

.contact {
    background-color: #f7f7f7;
    padding: 40px 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}


/* Contact info styling */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.contact-box {
    background-color: rgba(100, 200, 200, 1);
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    text-decoration: none;
}

.contact-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #151515;
    background-color: #c6c6c6;
}

.contact h2 {
    color: rgba(100, 200, 200, 1);
    margin-bottom: 10px;
}


/* Social links styling */

.social-links {
    display: flex;
}

.social-icon {
    margin: 0 10px;
}

.social-icon a img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.social-icon a img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: flex;
    bottom: 0;
    width: 100%;
}
